---
import { Layout } from '@/layouts'

const AllPosts = await Astro.glob('./*.mdx')
---

<Layout title="Summy">
  <div class="max-w-[750px] m-auto px-4 py-8 w-full grid grid-cols-4 md:grid-cols-2 gap-4">
    {
      AllPosts.map((post) => (
        <a
          id={post.frontmatter.title}
          href={post.frontmatter.href}
          class="border opacity-0 flex flex-col w-full border-slate-300 items-center gap-[10px] p-3 rounded-3xl hover:border-blue-500 transition-all"
        >
          <img class="w-[130px] p-4" src={post.frontmatter.icon} alt={post.frontmatter.title} />
          <h2 class="text-slate-700 text-base">{post.frontmatter.title}</h2>
        </a>
      ))
    }
  </div>
</Layout>

<script>
  import { revealTop } from '@/actions'
  revealTop('C++')
  revealTop('Dart', 100)
  revealTop('PHP', 200)
  revealTop('Swift', 300)
</script>
